/* == Nearby articles icon == */

@import 'mediawiki.skin.variables.less';

.leaflet-control-container .leaflet-control {
	.mw-kartographer-icon-nearby {
		background-image: url( ../images/icon-nearby.svg );
		background-position: center;
		background-size: 20px;

		&.mapbox-icon-nearby-active,
		&.mapbox-icon-nearby-active:hover {
			background-color: @background-color-progressive--active;
			background-image: url( ../images/icon-nearby-invert.svg );
			border-color: @border-color-progressive--active;
		}
	}
}
