.ve-ce-mwMapsNode {
	background-position: 50% 50%;
	background-repeat: no-repeat;
}

.ve-ui-mwMapsDialog-mapWidget {
	margin: 1em auto;
	max-width: 866px;
	max-height: 400px;
	min-height: 300px;
	overflow: auto;
}

.ve-ui-mwMapsDialog-geoJSONWidget {
	max-width: none;
	min-height: 210px;
}

.ve-ui-mwMapsDialog-geoJSONWidget .oo-ui-inputWidget-input:first-child,
.ve-ui-mwMapsDialog-geoJSONWidget .ace_editor.ace-tm {
	min-height: 210px;
}

.ve-ui-mwMapsDialog-help {
	position: absolute;
	/* Align with first line of form */
	/* <padding of PanelLayout> + <margin-top of first fieldset> */
	top: calc( 1.14285714em + 0.85714286em );
	right: 8px;
}

.ve-ui-mwMapsDialog-position {
	margin-bottom: 1em;
	text-align: center;
}

.ve-ui-mwMapsDialog-position .oo-ui-buttonWidget {
	margin-right: 2em;
}

/* Fixes overlap with ace editor */
.ve-ui-mwMapsDialog-position .oo-ui-popupWidget-popup {
	z-index: 3;
}

/* Fixes align=center */
.ve-ce-mwMapsNode.center {
	position: relative;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.ve-ui-mwMapsDialog-position-table {
	margin: 1em;
	text-align: left;
}

.ve-ui-mwMapsDialog-position-table th {
	padding: 0.5em 1em 0.5em 0;
}

.ve-ui-mwMapsContextItem-nosupport {
	color: #72777d;
	font-style: italic;
	line-height: 1.6;
}
