.ve-ce-mwMapsNode {
	background-position: 50% 50%;
	background-repeat: no-repeat;
}

.ve-ui-mwMapsDialog-mapWidget {
	margin: 0 auto 1em auto;
	max-width: 866px;
	max-height: 400px;
	overflow: auto;
}

.ve-ui-mwMapsDialog-geoJSONWidget {
	max-width: none;
}

.ve-ui-mwMapsDialog-resetMapButton {
	margin-bottom: 1em;
	text-align: center;
}

/* Fixes align=center */
.ve-ce-mwMapsNode.center {
	position: relative;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
