<h2>{{LBL_MAP_DETAILS}}</h2>

<table>
    <tbody>
    <tr>
        <th>{{LBL_COORDINATES}}</th>
        <td>
                <span class="geo">
                    <span class="latitude" title="{{LBL_LATITUDE}}">{{latitude}}</span>,&nbsp;<span class="longitude" title="{{LBL_LONGITUDE}}">{{longitude}}</span>
                </span>
        </td>
    </tr>
    </tbody>
</table>
