.mw-kartographer-responsive {
	width: 100%;
	min-width: 200px;

	.mw-kartographer-responder {
		position: relative;
	}

	.mw-kartographer-map {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		z-index: 0;
	}
}

.mw-kartographer-mapDialog-map {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

.mw-kartographer-interactive {
	display: inline-block;
}

.mw-kartographer-error {
	display: inline-block;
	background: #ffc0cb;
}

a.mw-kartographer-link {
	display: inline;
	cursor: pointer;
}

a.mw-kartographer-autostyled {
	display: inline-block;
	vertical-align: middle;
	position: relative;
	top: -0.08em;
	box-sizing: content-box;
	height: 0.85em;
	padding: 0.24em 0.42em;
	border-radius: 1px;
	color: #fff;
	font-weight: bold;
	font-size: 0.85em;
	line-height: 1;
	text-align: center;
}
a.mw-kartographer-autostyled:visited {
	color: #fff;
}

.leaflet-bar a {
	background-position: center center;
}
