.mw-kartographer {
	display: inline-block;
}

.mw-kartographer-responsive {
	width: 100%;
	min-width: 200px;

	.mw-kartographer-responder {
		position: relative;
	}

	.mw-kartographer-map {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
	}
}

.mw-kartographer-mapDialog-map {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

.mw-kartographer-error {
	background: #ffc0cb;
}

a.mw-kartographer-link {
	cursor: pointer;
}

.mw-kartographer-autostyled {
	color: #fff;
}

.leaflet-bar a {
	background-position: center center;
}
