@mapWidth: 256px;
@mapHeight: 256px;
@markerColor: #7b4e10;
@markerSize: 10px;

/* stylelint-disable selector-max-id */

#mw-specialMap-container {
	position: relative;

	.thumbinner {
		display: inline-block;
		position: relative;
		width: @mapWidth;
	}
}

#mw-specialMap-inner {
	height: @mapHeight;
	position: relative;
}

#mw-specialMap-marker {
	position: absolute;
	background-color: @markerColor;
	height: @markerSize;
	width: @markerSize;
	margin-top: -1 * (@markerSize/2);
	margin-left: -1 * (@markerSize/2);
	border-radius: @markerSize/2;
}

#mw-specialMap-caption {
	display: block;
	padding-top: 0.5em;
}

#mw-specialMap-icon {
	display: inline-block;
	margin: 0 12px 0 0;
	background-color: @markerColor;
	height: @markerSize;
	width: @markerSize;
	margin-top: -1 * (@markerSize/2);
	margin-left: 0.5em;
	border-radius: @markerSize/2;
}

#mw-specialMap-attributions {
	position: absolute;
	bottom: 0;
	font-size: 9px;
	right: 0;
	text-align: right;
}
